aside#left-container{
  float:left;
  width: 20%;
  height:100%;
  display:inline-block;
  margin:0px;
  padding-left: 5px;
  padding-right: 10px;
  background-color: #333;
  color: #EEE;
}

textarea#geojson-input-box{
  height:25%;
  margin: 10px auto;
  background-color:white;
}

div.operations-box{
  margin-top:10px;
  margin-bottom:10px;
}

div#turf-operations{
  margin-top:5px;
}

h3{margin-bottom:5px;}
.full-width{width:85%;}
.third{width:33%;}
.inline{display:inline-block;}
.right{ float:right;}
.btn{margin:3px;}
.input{ background-color: white;}
label.clear{
  clear:both;
}

/* Map controller */
div#map-control{
  color: #111;
  position: absolute;
  padding: 50px 10px;
  top: 25px;
  right: 25px;
  width: 200px;
  height: 75%;
  z-index: 500;
  background-color:white;
  opacity: 0.9;
}

div#map-control-menu{
  height: 35px;
  width: 35px;
  z-index: 900;
  position: absolute;
  top: 25px;
  right: 25px;
}

div#about{
  position:absolute;
  bottom: 0;
  left: 0;
  padding: 15px;
  width:100%;
}

div#information-box{
  position: absolute;
  top:50px;
  left: 25%;
  margin: 0 auto;
  border: 10px solid #333;

  width: 50%;
  padding: 10px;
  background-color:#FFF;
}

div#information-box-content{
  height: 700px;
  overflow-y:scroll;
}
